{% load static %}

<head>
    <meta charset="UTF-8" />
    <title>{% block title %} {% endblock %} </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block link %} {% endblock %}
</head>
<body>
    <header class="header">
        <nav>
            <div class="logo">
                <a href="{% url 'home'%}">Project.<span>D</span></a>
            </div>
            <input type="checkbox" id="menu-toggle">
            <label for="menu-toggle" class="menu-icon">&#9776;</label>
            <ul class="menu">
                <li><a href="connection/">Подключения</a></li>
                {% if user.is_authenticated %}
                    <li>
                        <ul>
                            <li><a href="{% url 'register' %}">User: {{ user }}</a></li>
                            <li><a href="{% url 'logout' %}">Выйти</a></li>
                        </ul>
                    </li>
                {% else %}
                <li><a href="{% url 'login' %}">Войти</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <div class="margin">
        {% if user.is_authenticated %}
            {% block auth %}
            {% endblock %}
        {% else %}
            {% block noauth %}
            {% endblock %}
        {% endif %}
    </div>
</body>
</html>