{% extends 'base.html' %}
{% load static %}
{% block title %} Подключения {% endblock %}
{% block link %}
    <link rel="stylesheet" href="{% static 'css/connection.css' %}">
    <script src="{% static 'js/connection.js' %}"></script>
{% endblock %}
{% block auth %}

<!-- Tab links -->
<div class="tab">
    {% for locate in locations %}
        {% if locate == "IT" %}
        {% else %}
            <button class="tablinks" onclick="openPage(event, '{{ locate }}')">{{ locate }}</button>
        {% endif %}
    {% endfor %}
    <button class="tablinks" onclick="openPage(event, 'Принтеры')">Принтеры</button>
</div>

{% for locate in locations %}
    {% if locate == "IT" %}
    {% else %}
        <div id="{{ locate }}" class="tabcontent">
        {% for cabinet in cabinets %}
            <h4>{{ cabinet }}</h4>
            <table id="table">
            <tr><td>Пользователь</td>
            <td>Расположение</td></tr>
            {% for i in connections %}
                {% if cabinet == i.cabinet and i.location in locate %}
                            <tr>
                            {% if i.rdp %}
                                <td>{{ i.user }}</b></td>
                                <td>{{ i.location }}</td>
                                <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                                <td><a href="rdps://{{i.ip}}" class="btn" target="_blank">Подсмотреть</a></td>
                                <td><a href="rdpc://{{i.ip}}" class="btn" target="_blank">Подключиться</a></td>
                            {% else %}
                                <td>{{ i.user }}</b></td>
                                <td>{{i.location}}</td>
                                <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                            {% endif %}
                            </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </table>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}

{% block noauth %}
    <h3>Для просмотра информации страницы вам необходимо войти в систему.</h3>
{% endblock %}