{% extends 'base.html' %}
{% load static %}
{% block title %} Подключения {% endblock %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/connection.css' %}">
{% endblock %}
{% block auth %}

    {% for locate in location_connections %}
        {% if locate == "IT" %}
        {% else %}
            <br><h4>{{ locate }}</h4>
            <table class="table">
                <tr>
                    <td>Пользователь</td>
                    <td>Расположение</td>
                </tr>
                {% for i in connections %}
                    {% if i.location == "{{locate}}" %}
                        <tr>
                            {% if i.rdp %}
                                <td>{{ i.user }}</b></td>
                                <td>{{i.location}}</td>
                                <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                                <td><a href="rdps://{{i.ip}}" class="btn" target="_blank">Подсмотреть</a></td>
                                <td><a href="rdpc://{{i.ip}}" class="btn" target="_blank">Подключиться</a></td>
                            {% else %}
                                <td>{{ i.user }}</b></td>
                                <td>{{i.location}}</td>
                                <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        {% endif %}
    {% endfor %}

    <br><h4>АБК</h4>
    <table class="table">
        <tr>
            <td>Пользователь</td>
            <td>Расположение</td>
        </tr>
        {% for i in connections %}
            {% if i.location == "АБК" %}
                <tr>
                    {% if i.rdp %}
                        <td>{{ i.user }}</b></td>
                        <td>{{i.location}}</td>
                        <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                        <td><a href="rdps://{{i.ip}}" class="btn" target="_blank">Подсмотреть</a></td>
                        <td><a href="rdpc://{{i.ip}}" class="btn" target="_blank">Подключиться</a></td>
                    {% else %}
                        <td>{{ i.user }}</b></td>
                        <td>{{i.location}}</td>
                        <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br><h4>Склад</h4>
    <table class="table">
        <tr>
            <td>Пользователь</td>
            <td>Расположение</td>
        </tr>
        {% for i in connections %}
            {% if i.location == "Склад" %}
                <tr>
                    {% if i.rdp %}
                        <td>{{ i.user }}</b></td>
                        <td>{{i.location}}</td>
                        <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                        <td><a href="rdps://{{i.ip}}" class="btn" target="_blank">Подсмотреть</a></td>
                        <td><a href="rdpc://{{i.ip}}" class="btn" target="_blank">Подключиться</a></td>
                    {% else %}
                        <td>{{ i.user }}</b></td>
                        <td>{{i.location}}</td>
                        <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                    {% endif %}
                </tr>
            {% endif %}
        {% endfor%}
    </table>
    <br><h4>Холодильник</h4>
<table class="table">
    <tr>
        <td>Пользователь</td>
        <td>Расположение</td>
    </tr>
    {% for i in connections %}
        {% if i.location == "Холодильник" %}
            <tr>
                {% if i.rdp %}
                    <td>{{ i.user }}</b></td>
                    <td>{{i.location}}</td>
                    <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                    <td><a href="rdps://{{i.ip}}" class="btn" target="_blank">Подсмотреть</a></td>
                    <td><a href="rdpc://{{i.ip}}" class="btn" target="_blank">Подключиться</a></td>
                {% else %}
                    <td>{{forloop.counter}}.{{ i.user }}</b></td>
                    <td>{{i.location}}</td>
                    <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                {% endif %}
            </tr>
        {% endif %}
    {% endfor %}
</table>
<br><h4>Бухгалтерия</h4>
<table class="table">
    <tr>
        <td>Пользователь</td>
        <td>Расположение</td>
    </tr>
    {% for i in connections %}
        <tr>
            {% if i.location == "Бухгалтерия" %}
                {% if i.rdp %}
                    <td>{{ i.user }}</b></td>
                    <td>{{i.location}}</td>
                    <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                    <td><a href="rdps://{{i.ip}}" class="btn" target="_blank">Подсмотреть</a></td>
                    <td><a href="rdpc://{{i.ip}}" class="btn" target="_blank">Подключиться</a></td>
                {% else %}
                    <td>{{ i.user }}</b></td>
                    <td>{{i.location}}</td>
                    <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    <br><h4>Продажи</h4>
    <table class="table">
        <tr>
            <td>Пользователь</td>
            <td>Расположение</td>
        </tr>
        {% for i in connections %}
            {% if i.location == "Продажи" %}
                <tr>
                    {% if i.rdp %}
                        <td>{{ i.user }}</b></td>
                        <td>{{i.location}}</td>
                        <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                        <td><a href="rdps://{{i.ip}}" class="btn" target="_blank">Подсмотреть</a></td>
                        <td><a href="rdpc://{{i.ip}}" class="btn" target="_blank">Подключиться</a></td>
                    {% else %}
                        <td>{{ i.user }}</b></td>
                        <td>{{i.location}}</td>
                        <td><a href="vnc://{{i.ip}}" class="btn" target="_blank">VNC</a></td>
                    {% endif %}
            {% endif %}
            </tr>
    {% endfor %}
</table>
{% endblock %}

{% block noauth %}
    <h3>Для просмотра информации страницы вам необходимо войти в систему.</h3>
{% endblock %}